body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: aliceblue;
}  
main {
    flex: 1 0 auto;
}  
footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: rgb(20, 20, 43);
}
h1 {
  font-family: 'Aboreto', cursive;
  font-size: 35px;
}
nav {
  background-color: rgb(20, 20, 43);
}
h4 {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: rgb(0, 84, 99);
}
p { 
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: black;
}
a {
  color:rgb(0, 84, 99)
}