{% extends 'base.html' %}
{% block content %}

<h1>Sword Details</h1>

<div class="card">
  <div class="card-content">
    <p>Category - {{ sword.category }}</p>
    <p>Age - {{ sword.age }}</p>
    <p>Origin - {{ sword.origin }}</p>
    <p>Swordsmith - {{ sword.swordsmith }}</p>
    <p>Blade Material - {{ sword.blade_material }}</p>
    <p>Blade Length(inches) - {{ sword.blade_length }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'swords_update' sword.id %}">Edit</a>
    <a href="{% url 'swords_delete' sword.id %}">Delete</a>
  </div>
</div>

{% endblock %}
