{% extends 'base.html' %}
{% block content %}

<h1>List of Swords</h1>
<hr>

{% for sword in swords %}
  <div class="card">
    <a href="{% url 'detail' sword.id %}">
    <div class="card-content">
      <p>Category - {{ sword.category }}</p>
      <p>Age - {{ sword.age }}</p>
      <p>Origin - {{ sword.origin }}</p>
      <p>Swordsmith - {{ sword.swordsmith }}</p>
      <p>Blade Material - {{ sword.blade_material }}</p>
      <p>Blade Length (in) - {{ sword.blade_length }}</p>
    </a>
    </div>
  </div>
{% endfor %}

{% endblock %}
